* {
  margin: 0px;
  padding: 0px;
  font-family: poppins;
}

body {
  overflow: hidden;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

/* login Area  */

#login_area {
  margin: 4% 14%;
  box-shadow: 0px 0px 6px rgb(164, 160, 160);
  background: rgb(255, 65, 105);
  background: linear-gradient(
    90deg,
    rgba(255, 65, 105, 1) 0%,
    rgba(254, 66, 105, 1) 100%
  );
}

/* Form Area */

#form_holder {
  padding: 2% 8%;
  background-color: rgb(252, 247, 247);
}

#login_head {
  text-align: center;
  font-size: 35px;
  font-weight: 800;
}

.socialIcons {
  justify-content: center;
  font-size: 22px;
}

.social {
  height: 40px;
  width: 45px;
  padding-top: 4px;
  margin: 0px 10px;
  background-color: white;
}

.side_logo {
  font-size: 20px;
}

.input_field {
  width: 280px;
}

.warning {
  width: 350px;
}

#login_btn {
  color: white;
  background-color: #fe4a2b;
}

/* Description Area */

#form_description {
  color: whitesmoke;
  text-align: center;
}

#description_head {
  font-size: 35px;
  font-weight: 1000;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#description_body {
  font-size: 15px;
}

.btn:hover,
.social:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.05);
}

/* PopUp Model */

#myModal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 40%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #888;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
